body {
    /* display: flex; */
    background-image: url("images/backgroundcorr063.svg");
    background-size: cover;
    font-family: "Iceland", serif;
    margin: 0;
    /* width: 23vw; */
    height: 100vh;
    overflow: scroll;
}

/* svg {
    width: 50%;
    height: 50%;
} */

.text-c {
    /* display: flex; */

    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    position: relative;
    top: 30%;
    /*left: 16.2vw; */
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 120px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

h2 {
    /* display:flex; */
    position: relative;
     top: 35%;
    /*left: 35vw; */
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
    font-weight: 400;
    font-size: 80px;
    color: white;
}
h3{ position:relative;
    /*top: 49vh;
    left: 35.5vw; */
    text-align: center;
    font-weight: 400;
    font-style: 50px;
    font-size: 3vw;
    margin: auto;
    color: white;
    
}

#dragon-head {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
    display: block;
    transform: scale(.9);
}

#mail{
   transform: scale(.1);
   fill: white;
   position: absolute;
    top: 69%;
    left: 2%;
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
    display: block;
  
}
/* settings for mobilelayout */